#p1{font-style:italic; color:red; font-weight:bold;}
#t50px{font-size:50; color:red;}
p{font-size:20px; font-family:"맑은 고딕, georigia";}
body{background-color:lavender; background-image:url("../img/inya02.jpg"); background-position:left top;
	background-repeat:no-repeat;}