body{background-color:gray;}
h3{background-color:white; color:black; text-align:center;}
.c1{background-color:white;}
.c2{color:blue;}
#c3{background-color:white; color:blue;}
ul{background-color:pink;}
#c4{color:red;}